@import "tailwindcss";

/* globals.css */
/* globals.css */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F2F0E9; /* Bone */
  color: #49596B;           /* Marian */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.gingham-bg {
  background-image: linear-gradient(45deg, #fef3c7 25%, transparent 25%),
    linear-gradient(-45deg, #fef3c7 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #fef3c7 75%),
    linear-gradient(-45deg, transparent 75%, #fef3c7 75%);
  background-size: 40px 40px;
  background-color: #fde68a; /* warm yellow base */
}